body {
    font-family: "Kanit", sans-serif;
    background-image: url(./img/pexels-eberhardgross-640781\ \(1\).jpg);
    background-size: cover;
    background-position: center;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 9px;
}

header h1 {
    font-size: 1.8rem;
    margin-left: 10px;
}

nav {
    display: flex;
    gap: 15px;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s;
}

nav a:hover {
    color: white;
    transform: scale(1.1);
}

main {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.profile-container {
    text-align: center;
    margin-bottom: 20px;
}

.profile-container img {
    width: 200px;
    height: 200px;
    border-radius: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.project-card {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.hobby-card {
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
}

.hobby-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.contact-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    gap: 20px;
    font-size: 1rem;
}

.contact-card div a {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}
.contact-card div a:hover {
    color: #ffcc00;
}

footer {
    text-align: center;
    padding: 10px;
    margin: 20px;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

header, nav {
    animation: fadeInUp 1.5s ease forwards;
}
img {
    animation: fadeInUp 1.5s ease forwards;
}

section {
    animation: fadeInUp 1.5s ease forwards;
}

section:nth-of-type(2) {
    animation-delay: 0.3s;
}
section:nth-of-type(3) {
    animation-delay: 0.6s;
}
section:nth-of-type(4) {
    animation-delay: 0.9s;
}

@media (max-width: 768px) {
    header, nav {
        display: flex;
    }

    main {
        margin: 20px;
    }

    .grid-container {
        grid-template-columns: 1fr;
    }
}
