body {
    font-family: "Sarabun", sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    line-height: 1.6;

}

header {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    transition: color 1.5s ease;
}

nav a:hover {
    text-decoration: underline;
}

main {
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding-left: 20px;
}

h2 {
    color: #333;
}

img {
    display: block;
    margin: 20px auto;
    width: 200px;
    border-radius: 10%;
}

footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: #fff;
    margin-top: 40px;
}
