body {
    font-family: "Sarabun", sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    line-height: 1.6;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
    color: #fff;
    padding: 15px 30px;
    flex-wrap: wrap;
}

header h1 {
    font-size: 1.5rem;
}

nav {
    display: flex;
    gap: 20px;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    transition: color 1.5s ease;
    font-weight: 500;
}

nav a:hover {
    text-decoration: underline;
}

main {
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.project-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.project-card {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.project-card h3 {
    color: #333;
}

ul {
    list-style-type: none;
    padding-left: 20px;
}

h2 {
    color: #333;
}

img {
    display: block;
    margin: 20px auto;
    width: 200px;
    border-radius: 10%;
}

footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: #fff;
    margin-top: 40px;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    nav {
        flex-wrap: wrap;
        justify-content: center;
    }

    .project-container {
        flex-direction: column;
        align-items: center;
    }

    .project-card {
        width: 90%;
    }
}
